* {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
}

/* Global CSS */
.hide {
  display: none !important;
}
/* End Global CSS */

body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

button {
  background-color: #f5e6cc;
  color: #54316d;
  padding: 0.2rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 3px solid #f5e6cc;
  height: 2rem;
}

button:hover {
  background-color: #ffffff;
  border: 3px solid #f5e6cc;
  cursor: pointer;
}

button:active {
  background-color: #dee7e7;
}

textarea {
  border: 1px solid #eeeeee;
}

/********** Sidebar **********/
.sidebar {
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 100vh;
  background-color: #54316d;
  overflow-y: scroll;
}

.sidebar-header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid white;
}

.sidebar-header h1 {
  text-align: center;
  padding: 0.72rem 0;
  font-weight: normal;
  font-size: 1.3rem;
  color: #ffffff;
}

#burger-close {
  margin: auto 1rem auto 0;
}

.sidebar-buttons {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.sidebar-button {
  margin: 0 1rem;
}

.note-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-top: 3px solid white;
}

.note-item {
  display: flex;
  margin: 0;
  padding: 0;
}

.note {
  width: 100%;
  background-color: white;
  color: #54316d;
  border-bottom: 3px solid white;
  margin: 0;
  padding: 1rem;
}

.note:hover {
  background-color: #f5e6cc;
  color: #54316d;
  cursor: pointer;
}

.note-active a {
  background-color: #54316d;
  color: white;
}

@media (max-width: 45em){
  .sidebar {
    display: none;
  }

  .sidebar-open {
    display: block;
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    width: 200px;
    border-right: 1px solid white;
    -webkit-animation-name: animateleft;
    animation-name: animateleft;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s
  }

  .sidebar h1 {
    text-align: left;
    margin: 0 1rem;
  }

  /***** Animations for modal *****/
  @-webkit-keyframes animateleft {
      from {left:-300px; opacity:0}
      to {left:0; opacity:1}
  }
  @keyframes animateleft {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
  }
}

/********** End Sidebar **********/

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
}

/********** Header **********/
.menu {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #54316d;
  padding: 0.2rem 2px;
  border-left: 1px solid white;
}

.left-side-menu {
  display: flex;
}

.menu input {
  background-color: #54316d;
  color: white;
  border: none;
  padding: 0.1rem 0.2rem;
  width: auto;
}

.menu input::selection {
  background-color: white;
  color: black;
}

.menu input:focus-within {
  background-color:white;
  color: black;
}

.burger-icon {
  cursor: pointer;
  display: none;
  height: 2rem;
  width: 2rem;
}

#burger-open {
  margin: auto 1rem;
}

.note-buttons {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.note-button {
  margin: 0.2rem 2rem 0.2rem 0;
}

@media (max-width: 45em) {
  .burger-icon {
    display: block;
  }
}

/********** End Header **********/

/********** Main Note Area **********/
.editable-area {
  display: flex;
  height: 100vh;
  background-color: lightgreen;
}

.editable-area > textarea {
  width: 100%;
  padding: 0.5rem;
}

/********** Login Modal **********/

.login-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 20vh auto 20vh auto;
  padding: 10px 20px 20px 20px;
  border: 1px solid #888;
  width: 40%;
  -webkit-animation-name: animatetop;
  animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s
}

@media (max-width: 45em) {
  .modal-content {
    width: 80%;
  }
}

/***** Animations for modal *****/
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.close {
  color: #aaa;
  display: block;
  text-align:right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.login-field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 20px 20px 20px;
}

.login-field label {
  display: block;
  margin-bottom: 7px;
}

.login-field input {
  border: 1px solid #e1e1e1;
  padding: 10px;
}

.error {
  box-shadow: 0 0 5px 1px red;
}

.submit-buttons {
  -webkit-box-align: center;
  -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
}

.submit-buttons button {
  background-color: #54316d;
  color: white;
  border: 2px solid #54316d;
  margin: 0 20px;
  /* padding: 0; */
}

.submit-buttons button:hover {
  background-color: white;
  color: #54316d;
  border: 2px solid #54316d;
}

.submit-buttons button:active {
  background-color: #54316d;
  color: white;
  border: 2px solid #54316d;
}

.error-message {
  background-color: #ffbbbb;
  border: 1px solid red;
  padding: 0.2rem;
}

.error-message ul {
  padding-left: 0.8rem;
  /* list-style: none; */
}

.error-message ul li {
  font-size: 0.7rem;
}
